@model string

@{
    var url = $"/OAuth/Authorize{Model}";
}

<form action="@url" method="post">
    <input type="text" name="username" placeholder="Enter your username" required />
    <input type="submit" value="Submit" />
</form>
